h1{

}

.avatar{
    margin: auto;
    display: block;
}

.score{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.admin{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: darkred;
}

tr.info-title{
    background-color: #f9f9f9;
}

.rightButton {
    margin-top: 35px;
}